.parameters {
    display: flex;
    justify-content: center;
    margin: 2rem;
    column-gap: 2rem;
}

.sudoku {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 1rem;
}

.grid {
    border: solid 1px black;
    display: inline-flex;
}

.row {

}

.cell {
    height: 4rem;
    width: 4rem;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
}

@media print{
    .noprint{
        display:none;
    }

    div {
        break-inside: avoid;
      }
 }